/* Meu resete */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  background-color: #f7f7f7;
  gap: 60px;
  margin-top: 60px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
p {
  font-size: 1.25rem;
  line-height: 1.3;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
}
/* Cabecalho */
.header {
  display: grid;
  gap: 60px;
  justify-items: center;
  align-items: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.nav-item {
  background-color: #fff;
  padding: 1rem 2rem;
  color: black;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid transparent;
}
.nav-item:hover {
  border: 2px solid #e21;
}
/* Conteudo Principal */
/* article 1 */

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.introducao {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  justify-items: end;
  align-content: center;
}
.introducao::before {
  content: "";
  height: 4px;
  width: 60px;
  position: absolute;
  background-color: #e21;
  top: 30px;
  right: -30px;
}
.introducao h1 {
  font-size: 2rem;
}
.botao {
  padding: 1rem 2rem;
  background-color: #e21;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
}
.botao:hover {
  background-color: #900;
}
/* article 2 */
.subtitulo {
  text-transform: uppercase;
  padding: 40px;
  align-self: center;
  text-align: right;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  background-image: url("/img/onda.svg");
  background-position: center;
  background-repeat: repeat;
}
.vantagens {
  background-color: #fff;
  padding: 40px;
  display: grid;
  gap: 0px;
}
.vantagens-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding: 20px;
  border-left: 4px solid transparent;
}
.vantagens-item:hover {
  border-left: 4px solid #e21;
}
.vantagens-item h3 {
  margin-bottom: 10px;
}
.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}
/* footer 2 */
.footer {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding: 40px 0px;
}
/* reponsividade 2 */
@media (max-width: 900px) {
  body {
    margin-top: 0px;
    padding: 0px;
    gap: 0px;
  }
  .header {
    margin: 20px 0px;
    gap: 30px;
  }
  .subtitulo {
    font-size: 3rem;
    text-align: center;
  }
  article {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
  }
  .introducao {
    text-align: start;
    position: relative;
    display: grid;
    justify-items: start;
    align-content: center;
  }
  .introducao h1 {
    text-align: start;
  }
  .introducao::before {
    display: none;
  }
}
